@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  margin-right: -3.5rem;
  animation: moveInLeft 1.5s ease-out;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.75rem;
  margin-right: -1.75rem;
  animation: moveInRight 1.5s ease-out;
}

.heading-secondary {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewX(20deg) skewY(2deg) scale(1.05);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  text-transform: uppercase;
}

.margin-bottom-sm {
  margin-bottom: 2rem;
}

.margin-bottom-md {
  margin-bottom: 4rem;
}

.margin-bottom-lg {
  margin-bottom: 8rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 1000rem;
  padding: 1.6rem 3rem;
  display: inline-block;
  transition: all 0.5s;
  position: relative;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1.2rem 2.4rem 0 rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.6rem 1.2rem 0 rgba(0, 0, 0, 0.15);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--animated {
  animation: moveInBottom 1.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

/* .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 1000rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}

.btn--white:after {
  background-color: white;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
} */
.btn--text:link, .btn--text:visited {
  color: #55c57a;
  background-color: transparent;
  font-size: 2rem;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding-bottom: 0.6rem;
  display: inline-block;
  transition: all 0.2s;
}
.btn--text:hover {
  background-color: #55c57a;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.15);
}
.btn--text:focus {
  transform: translateY(0);
}

.composition {
  position: relative;
  width: 100%;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  transition: all 0.2s;
  z-index: 1;
  outline-offset: 1rem;
}
.composition__photo--1 {
  top: -2rem;
  left: 0;
}
.composition__photo--2 {
  right: 0;
  top: 4rem;
}
.composition__photo--3 {
  left: 20%;
  top: 12.5rem;
}
.composition__photo:hover {
  transform: scale(1.05);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
  z-index: 2;
  outline: 1rem solid #55c57a;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.6rem;
}
.header__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5%;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 35%);
  justify-content: center;
  gap: 8rem;
}
.section-about h2 {
  grid-column: 1/-1;
}

.about__text-box {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.section-features {
  padding: 40rem 8rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-6.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.features-grid {
  display: grid;
  max-width: 140rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
}

.feature-card {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 5rem 1.8rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  border-radius: 4px;
}
.feature-card:hover {
  transform: translateY(-1.6rem) scale(1.05);
}
.feature-card__icon {
  height: 6rem;
  width: 6rem;
  background-image: linear-gradient(to left, #28b485, #7ed56f);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}
.feature-card__icon--earth {
  -webkit-mask-image: url(../img/earth.svg);
  mask-image: url(../img/earth.svg);
}
.feature-card__icon--compass {
  -webkit-mask-image: url(../img/compass.svg);
  mask-image: url(../img/compass.svg);
}
.feature-card__icon--map {
  -webkit-mask-image: url(../img/map.svg);
  mask-image: url(../img/map.svg);
}
.feature-card__icon--heart {
  -webkit-mask-image: url(../img/heart.svg);
  mask-image: url(../img/heart.svg);
}
.feature-card__text {
  text-align: center;
  font-size: 1.7rem;
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 4.4rem 15rem 4.4rem;
  display: flex;
  gap: 10rem;
  flex-direction: column;
  align-items: center;
}

.tours-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(30rem, 50rem));
  margin: 0 auto;
  gap: 8rem;
  max-width: 130rem;
}

.tour-card {
  position: relative;
  height: 70rem;
  perspective: 100rem;
}
.tour-card__side {
  height: 70rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.75s ease;
  backface-visibility: hidden;
  box-shadow: 0 1.6rem 3.6rem rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}
.tour-card__side--back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;
}
.tour-card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.tour-card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.tour-card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.tour-card__img {
  background-size: cover;
  background-position: center;
  height: 45%;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.tour-card__img-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.tour-card__img-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
}
.tour-card__img-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}
.tour-card:hover .tour-card__side--front {
  transform: rotateY(-180deg);
}
.tour-card:hover .tour-card__side--back {
  transform: rotateY(0deg);
}
.tour-card__heading {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  position: absolute;
  top: 20rem;
  right: 2rem;
  text-align: right;
  width: 75%;
}
.tour-card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.tour-card__heading-span-1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.tour-card__heading-span-2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.tour-card__heading-span-3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.tour-card__details {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55%;
  font-size: 1.8rem;
}
.tour-card__details ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 80%;
  text-align: center;
}
.tour-card__details ul li {
  padding: 1.5rem 0;
}
.tour-card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.tour-card__price-box {
  color: #fff;
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 1.4rem;
  align-items: center;
}
.tour-card__price-only {
  text-transform: uppercase;
  font-weight: 700;
}
.tour-card__price-value {
  font-size: 6.4rem;
  font-weight: 300;
}

/*# sourceMappingURL=styles.css.map */
