@use "../abstracts" as *;

.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;

  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 35%);
  justify-content: center;
  gap: 8rem;
  h2 {
    grid-column: 1/-1;
  }
}

.about {
  &__text-box {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
}

.section-features {
  padding: 40rem 8rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-6.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.features-grid {
  display: grid;
  max-width: 140rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
}

.feature-card {
  background-color: rgba($color-white, 0.8);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 5rem 1.8rem;
  box-shadow: 0 2rem 5rem rgba($color-black, 0.2);
  transition: all 0.2s;
  border-radius: 4px;

  &:hover {
    transform: translateY(-1.6rem) scale(1.05);
  }

  &__icon {
    height: 6rem;
    width: 6rem;
    background-image: linear-gradient(
      to left,
      $color-primary-dark,
      $color-primary-light
    );
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;

    &--earth {
      -webkit-mask-image: url(../img/earth.svg);
      mask-image: url(../img/earth.svg);
    }

    &--compass {
      -webkit-mask-image: url(../img/compass.svg);
      mask-image: url(../img/compass.svg);
    }

    &--map {
      -webkit-mask-image: url(../img/map.svg);
      mask-image: url(../img/map.svg);
    }

    &--heart {
      -webkit-mask-image: url(../img/heart.svg);
      mask-image: url(../img/heart.svg);
    }
  }

  &__text {
    text-align: center;
    font-size: 1.7rem;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 4.4rem 15rem 4.4rem;

  display: flex;
  gap: 10rem;
  flex-direction: column;
  align-items: center;
}

.tours-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(30rem, 50rem));
  margin: 0 auto;
  gap: 8rem;
  max-width: 130rem;
}

.tour-card {
  position: relative;
  height: 70rem;
  perspective: 100rem;

  &__side {
    height: 70rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.75s ease;
    backface-visibility: hidden;
    box-shadow: 0 1.6rem 3.6rem rgba($color-black, 0.2);
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;

    &--back {
      transform: rotateY(180deg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 6.4rem;

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &__img {
    background-size: cover;
    background-position: center;
    height: 45%;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    &-1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg);
    }
    &-2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/nat-6.jpg);
    }
    &-3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/nat-7.jpg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__heading {
    font-size: 3.2rem;
    text-transform: uppercase;
    font-weight: 300;
    color: $color-white;
    position: absolute;
    top: 20rem;
    right: 2rem;
    text-align: right;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &-1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
    &-2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }
    &-3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
    font-size: 1.8rem;

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      width: 80%;
      text-align: center;

      li {
        padding: 1.5rem 0;
      }

      li:not(:last-child) {
        border-bottom: 1px solid #eee;
      }
    }
  }

  &__price-box {
    color: #fff;
    display: flex;
    flex-direction: column;
    line-height: 1;
    gap: 1.4rem;
    align-items: center;
  }

  &__price-only {
    text-transform: uppercase;
    font-weight: 700;
  }

  &__price-value {
    font-size: 6.4rem;
    font-weight: 300;
  }
}

.section-stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  padding: 15rem 0;
  position: relative;
}

.section-cta {
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  padding: 15rem 4rem;
}

.cta {
  margin: 0 auto;
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.85) 0%,
      rgba($color-white, 0.85) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  background-position: center;
  flex: 1;
  max-width: 130rem;
  padding: 6rem 6rem 7.2rem 6rem;
  box-shadow: 0 1.6rem 3.2rem rgba($color-black, 0.2);
}

.cta-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

  &__group {
    width: 100%;
  }

  &__input {
    font-family: inherit;
    font-size: 1.6rem;
    padding: 1.6rem 2.4rem;
    border: none;
    border-radius: 4px;
    transition: all 0.2s;
    border-bottom: solid 3px transparent;
    width: 90%;
    color: inherit;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: solid 3px $color-primary;
    }

    &:focus:invalid {
      border-bottom: solid 3px $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: #999;
    }
  }

  &__label {
    font-size: 1.4rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    font-weight: 700;
    display: block;
    transform: translateY(0);
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-box {
    display: flex;
    gap: 4rem;
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: 1.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border-radius: 1000rem;
    border: 5px solid $color-primary;
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 1000rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }
}

.footer {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;

  &__logo {
    padding: 5rem 0 6rem 0;
  }

  &__nav {
    border-top: 1px #eee solid;
    border-top-width: 5%;
    padding: 5rem 0;
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 1.2rem;
  }

  &__item {
  }

  &__link:link,
  &__link:visited {
    color: #f7f7f7;
    text-transform: uppercase;
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    padding: 2rem 4rem;
    transition: all 0.2s;
    border-radius: 4px;

    &:hover {
      background-color: lighten(#333, 15%);
      transform: translateY(-1rem);
    }
  }
}
